{% extends "base.html" %} {% block title %}Add User{% endblock %} {% block
content %}
<h2>Create a New User</h2>
<form action="/users/new" method="post">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" placeholder="Enter a first name" />
  <br />
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" placeholder="Enter a last name" />
  <br />
  <label for="image_url">Image URL</label>
  <input
    type="text"
    name="image_url"
    placeholder="Provide an image of this user"
  />
  <button type="submit">ADD</button>
</form>

{% endblock %}
