{% extends "base.html" %} {% block title %}HOME{% endblock %} {% block content
%}
<h2 class="display-2 text-center">Blogly Recent Posts</h2>

<div class="container">
  {% for post in posts %}
  <div class="card mx-3 mt-3">
    <!-- <img src="#" class="card-img-top" alt="user image" /> -->
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p style="font-style: italic">
        Written by: {{post.user.full_name}}
        <br />
        <small>Posted on {{post.display_date_time()}}</small>
      </p>

      <a href="/posts/{{post.id}}" class="btn btn-primary">View Post</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
