{% extends "base.html" %} {% block title %}Edit Tag{% endblock %} {% block
content %}

<h2 class="display-2 text-center">Edit Tag</h2>
<div class="container-sm">
  <form action="/tags/{{tag.id}}/edit" method="post">
    <div class="form-group">
      <label for="name">Tag</label>
      <input
        type="text"
        name="name"
        value="{{tag.name}}"
        class="form-control"
      />
    </div>

    <a href="/tags/{{tag.id}}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

{% endblock %}
